<!doctype html>
<html>
<head>
  <!-- source/layouts/layout.erb -->
  <!-- [...] -->
  <%= display_meta_tags site: 'mamy studio', description: 'we build web businesses' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- [...] -->
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "mamy studio | we build web businesses" %></title>
  <%= favicon_tag 'images/favicon_base.png' %>
  <%= stylesheet_link_tag "all" %>
  <%= javascript_include_tag  "all" %>

</head>

<body class="<%= page_classes %>">
  <div class="site">
    <main class="site-content">
      <%= yield %>
    </main>
    <%= partial "shared/footer" %>
  </div>
</body>

</html>
