<!doctype html>
<html>
<head>
  <!-- source/layouts/layout.erb -->
  <!-- [...] -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- [...] -->
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "mamy studio | we build web businesses" %></title>
  <%= favicon_tag 'favicon_base.png' %>
  <%= stylesheet_link_tag "all" %>
  <%= javascript_include_tag  "all" %>

</head>

<body class="<%= page_classes %>">
  <div class="site">
    <main class="site-content">
      <%= yield %>
    </main>
    <%= partial "shared/footer" %>
  </div>
  <%#= yield(:after_js) %>
  <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
  <script>
// Changing the defaults
window.sr = ScrollReveal({ reset: true });
// Customizing a reveal set
sr.reveal('li', {opacity: 0.9,duration:3000});
</script>
</body>

</html>
